apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: ds-project-api
  namespace: ds-project
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: ds-project-api
  minReplicas: 2
  maxReplicas: 10
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
